
@media (max-width: 1140px){
	.servises_items{
		display: block;
	}
	.servises_item{
		max-width: 80%;
		min-height: 330px;
		margin:30px auto;


	}
	.servises_item-btn{
		position: absolute;
		bottom: 40px;
		right: 0;
		left: 0;



	}
	.form__box-inner{
		display: block;
		/*flex-wrap: wrap;*/

	}
	.form__box-inner button {
    background-color: transparent;
    color: #282828;
    cursor: pointer;
    float: right;
    margin-top: 30px;
    /*margin-right: 35px;*/
}
	.form__box-left1{
		max-width: 260px;
		width: 100%;
		margin-right: 30px;
	}
	.form__box-right1{
		max-width:555px;
		width: 100%;
	}
	.advantages{
		margin-top: 60px;
		padding:30px 0px 20px;

	}
	.advantages-item{
		max-width: 80%;
		/*min-height: 330px;*/
		margin:10px auto;

	}
	
	.news__inner{
		display: block;
		

	}
	.news {
		padding: 55px 0px 25px;
		background-color: #f9f9f9;
	}
	.news__slider{
		max-width: 100%;
		margin-bottom: 50px;
		height: 100%;


	}
	.news_blog{
		display: block;
		position: relative;
		left:50%;
		transform: translateX(-50%);
		margin-bottom: 30px;

		
	}
	.news__blog-text{
		color:#5e5e5e;
		letter-spacing: 0.1px;
		padding:0px 0px 12px;
		max-width: 100%;

	}
	.news__slider-item{

		outline: none;
		padding:0px 5px 10px 15px;
	}
	.news__slider .dots-style{
		margin-top: 0;
	}
	
	
	.news__slider .dots-style{
		
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
	.news__slider .dots-style button{
		display: flex;
		background: #948F8F;
		border: none;
		border-radius: 50%;
		font-size: 0;
		height: 15px;
		width: 15px;
		margin: 5px;
		z-index: 55;

		outline: none;
	}
	.news__slider .dots-style li[class="slick-active"] button {
		background: #ffc222;
	}
	.news__slider .slick-btn{ 
		top:380px;
		display: none !important;
	}
	.news__slider-author{
		color: #212020;
		letter-spacing: 0.1px;
		padding:20px 15px ;
		font-weight: 500;
	}
	.news_blog{
		max-width: 100%;
		width: 100%;
		margin-left: 0px;
	}





}
@media (max-width: 980px){
	.footer__inner{
		display: block;
	}


}


@media (max-width: 900px){
	.slider .slick-btn{
		display: none !important;

	}
	.slider_inner .dots-style{
		margin-top: 100px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
	.slider_inner .dots-style button{
		display: flex;
		background: #fff;
		border: none;
		border-radius: 50%;
		font-size: 0;
		height: 15px;
		width: 15px;
		margin: 5px;
		-ms-align-items: flex-end;
		align-items: flex-end;
		outline: none;
	}
	.slider_inner .dots-style li[class="slick-active"] button {
		background: #ffc222;
	}
	
	.form_inner{
		padding-bottom: 40px;
		background-image: url(form-fone.png) 
		
		background-repeat: no-repeat;
		
		background-position: top right;

	}



}
@media (max-width: 770px){
	.servises_top, .news_top{
		display: block;

	}	
	.servises_btn, .news_btn{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
	.servises_title-box, .form__title-box, .news__title-box{
		max-width: 700px;
		padding-left: 5% !important;
		position: relative;
	}
	.servises_title-box:before, .form__title-box:before, .news__title-box:before{

		content: "";
		position: absolute;
		width: 200px;
		height: 2px;
		background-color: #ffc222;
		left: 52%;
		transform: translateX(-50%);
		top: -20px;
	}
	.form {
		padding-top: 30px;
		margin-top: 20px;
	}
	.form_inner{
		padding-bottom: 40px;
		/*background-image: url(form-fone.png);*/
		background-image: none;
		background-repeat: no-repeat;
		min-height: 460px;
		background-position: top right;

	}
	.footer__map{
		padding-top: 10px;
		max-width: 630px;
		width: 100%;
	}
	.footer__map iframe{
		width: 100%;
	}



}
@media (max-width: 700px){
	.header_btn{
		float: none;


	}
	.header_btn-menu{
		display:block;
		margin-top: -26px;
		


	}
	.header_contacts{
		text-align: center;
	}
	.header_content-inner{
		display: block;


	}
	.header_logo img{
		width: 80%;

	}
	.menu ul{
		display: none;
		margin-top: 15px;

		z-index: 5;


	}
	.menu .icon-bars{

		
		position: sticky;


		left: 97%;


		
		
		font-size: 22px;
	}
	

	
	.menu li{
		display: block;


	}
	.menu a{

		display: block;
		text-align: center;
		transition: background .2s linear;


	}
	.menu a:hover{
		
		background-color: #ffc222;
		
	}
	.menu li + li{

		padding-left: 0px;
	}
	.advantages__inner{
		display: block;
		
	}
	






	
}
@media (max-width: 450px){
	.slider_title{
		font-size: 24px;
	}
	.slider_text{
		font-size: 16px;
		margin-bottom: 20px;
	}
	.dots-style{
		
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
	.slider_item-content{
		text-align: center;
		padding-top: 20px;
		max-width: 665px;
		margin: 0 auto;



	}
	.slider_inner .dots-style li[class="slick-active"] button {
		background: #ffc222;
	}
	
	.servises_item-btn .slider_btn{
		margin-left: 0;


	}
	
	
}
@media (max-width: 414px){
	.slider_title{
		font-size: 24px;
	}
	.slider_text{
		font-size: 16px;
		margin-bottom: 20px;
	}
	.dots-style{
		
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
	.slider_item-content{
		text-align: center;
		padding-top: 20px;
		max-width: 665px;
		margin: 0 auto;



	}
	.slider.dots-style li[class="slick-active"] button {
		background: #ffc222;
	}
	.servises_item-btn{


	}
	.servises_item-btn .slider_btn{
		margin-left: 0;


	}
	.copy__text {
		font-size: 9px;
		line-height: 20px;
		color: #fff;
		letter-spacing: 0.1px;
		font-weight: 500;
		font-family: 'Roboto', sans-serif;
	}
	
}


@media (max-width: 405px){
	.slider_btn {
		display: inline-block;
		font-size: 14px;
		line-height: 24px;
		color: #fff;
		font-weight: 500;
		font-family: 'Roboto', sans-serif;
		padding:8px 13px 10px ;
		border: 1px solid #ffc222;
		border-right-width: 20px;
		z-index: 3;
		outline: none;
		
		text-align: center;
	}

	
	.servises_item-btn a{
		
		margin-top: 20px;

	}
	.servises_item-btn a:last-child{
		margin-left: 30px;
	}
	.copy__text {
		font-size: 10px;
		line-height: 20px;
		color: #fff;
		letter-spacing: 0.3px;
		font-weight: 500;
		font-family: 'Roboto', sans-serif;
	}
	

	.servises_item{
		max-width: 360px;
		text-align: center;
		padding: 0px 0px;
		position: relative;
		min-height: 375px;
		background-color: #f9f9f9;
		box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
	}
	.copy__text {
		font-size: 9px;
		line-height: 20px;
		color: #fff;
		letter-spacing: 0.1px;
		font-weight: 500;
		font-family: 'Roboto', sans-serif;
	}
	.slider_btn:after {
    content: "\f105";
    font-family: 'icomoon';
    position: relative;
    left: 25px;
    color: #fff;
}

}


@media (min-width: 700px){
	.menu ul{
		display: block !important;
	}

}